@import "../../style/media_Query.scss";
.header {
  padding: 3rem 0 2rem;
}

.search-note {
  position: relative;

  .input-search-note {
    border: none;
    box-shadow: 0 3px 6px 0 #00000029;
    padding: 1em;
    padding-left: 2.5em;
    width: 100%;
    &::placeholder {
      font-size: 15px;
      font-family: "roboto";
      opacity: 60%;
    }
  }
  .btn-search-note {
    background: transparent;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1em;
    color: var(--color-00000099);
  }
}
